.app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.chat {
  display: grid;
  grid-template-areas: "chatbox room-list";
  grid-template-columns: 65vw 25vw;
  grid-template-rows: 80vh;
  text-align: left;
}

.chat .chatbox ul li,
.chat .room-list ul li
{
  list-style-type: none;
}

.chat .chatbox {
  grid-area: chatbox;
  border-radius: 8px;
  border: 1px solid #95a5a6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat .chatbox ul {
  overflow-y: scroll;
  margin-block-end: 0.2em;
}

.chat .chatbox textarea {
  resize: none;
  border-radius: 8px;
  font-size: 0.6em;
  min-height: 50px;
}

.chat .room-list {
  grid-area: room-list;
  border-radius: 8px;
  margin-left: 8px;
  border: 1px solid #95a5a6;
  padding-left: 8px;
  padding-right: 8px;
}
.chat .room-list .room-selection {
  display: flex;
  flex-direction: row;
}
.chat .room-list .room-selection input {
  width: 100%;
  padding: 4px;
  font-size: 0.8em;
  border: 1px solid black;
  border-radius: 8px;
}
